body{
    background-color: #FFF;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    display: inline;
    float: left;
    padding: 10px 10px 5px 15px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.item{
    flex-grow: .1;
}
.header{
    font-size: 14px;
}
.grid{
    height:23px;
    position:relative;
    bottom:4px;
    border-radius: 50%;
}
.grid:hover{
    background-color: rgba(34,2,0,.05);
}
.profile-pic{
    display: block;
    border-radius: 50%;
    position: relative;
    top: -5px
}
.main-content{
    background-color:#FFF;
    flex-grow: 6;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}
.main-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 23%;
    left: 0;
    right: 0;
    text-align: center;
}
.logo-container{
    margin-bottom: 30px;
}
.main-content input{
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 45px;
    width: 30%;
    border-radius: 30px;
    border-color: rgba(0, 0, 0, .3);
    border-width: 1px;
}
.main-content button{
    font-size: 15px;
    padding:10px 13px 10px 13px;
    border: none;
    background-color: rgba(240,240,240,.5);
    color: rgba(0,0,0,.8);
    border-radius: 5px;
}
#search-icon{
    height:17px;
    position: absolute;
    top:112%;
    left: 36%;
    z-index: 2;
    opacity: .7;
}
button:hover{
    outline-color: rgba(0,0,0,.4);
    outline-style: solid;
    outline-width: 1px;
}
.button1{
    display: inline;
    position: absolute;
    left: 42%;
    top:150%;
}
.button2{
    display: inline;
    position: absolute;
    right: 42%;
    top:150%;
}
.footer{
    background-color: rgba(34,2,0,.05);
    font-size: 14px;
    font-weight: 400 !important;
}
.footer a{
    color:#70757a
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 10px 15px 5px 15px;
}
.right-nav{
    float: right;
    font-size: 13px;
}
.text-nav{
    position: relative;
    top: 4px;
}